<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Menu</title>
</head>
<body>
<div class="container">
    <nav class="menu">
        <ul class="top-level-menu">
        {{#each htmlWebpackPlugin.options.data.topLevelMenuItems}}
            <li class="top-level-menu-item">
                <a href="" class="menu-item-anchor">{{title}}</a>
                <ul class="second-level-menu">
                {{#each secondLevelMenuItems}}
                    <li class="second-level-menu-item">
                        <a href="" class="menu-item-anchor">{{title}}</a>
                        <ul class="third-level-menu">
                        {{#each thirdLevelMenuItem}}
                            <li class="third-level-menu-item">
                                <a href="" class="menu-item-anchor">{{title}}</a>
                            </li>
                        {{/each}}
                        </ul>
                    </li>
                {{/each}}
                </ul>
            </li>
        {{/each}}
        </ul>
    </nav>
</div>
</body>
</html>